.bodyHeatMap {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.saveStyleShow {
    right: -1420px;
    bottom: 50px;
}

.saveStyleHide {
    display: none;
    font-size: 16px;
}

.general {
    margin-top: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.parula {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-top: 75px;
}

.gray {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-top: 75px;
}

.jet {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-top: 75px;
}

.hot {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-top: 75px;
}

h1 {
    font-size: 20px;
    color: #1864d8;
    font-family: sans-serif;
}