.bodyHeatMap {
    margin-left: 26%;
}

.show-toggle {
    display: block;
    position: relative;
    top: 770px;
    right: 250px;
    font-size: 16px;
}

.hide-toggle {
    display: none;
}

.result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}